<div class="page-view-error">
    <div class="error-info-wrapper">
        <div class="error-info-logo"></div>
        <div class="error-info-desc">
            哎呀！出错了！
        </div>
        <div class="error-info-reason">
            <label>可能的原因：</label>
            <ol>
                <li>网络信号弱</li>
                <li>找不到请求页面</li>
                <li>输入的网址不正确</li>
            </ol>
        </div>
        <div class="error-info-action">
            <span class="action-btn" data-bind="click: refreshHandle"><i></i>刷新</span>
            <span class="action-btn" data-bind="click: backHandle"><i></i>返回</span>
        </div>
    </div>
</div>