html,
body {
    height: 100%;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: none;
    outline: 0;
}


/* 顶部 */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #e1e3e8;
}

.header:after {
    clear: both;
    content: "";
    width: 0;
}

.header .logo {
    float: left;
    padding-left: 20px;
}

.header .system {
    float: right;
    font-size: 0;
    margin-right: 10px;
}

.system .user-info,
.system .system-config,
.system .system-logout {
    display: inline-block;
    font-size: 12px;
    padding: 0 20px;
    border-right: 1px solid #f3f3f3;
    cursor: pointer;
}

.system .system-logout {
    border: none;
}

.system span {
    vertical-align: middle;
}

.system .user-info img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #f3f3f3;
}

.system .system-config i.icon-sys-config {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/icon-system-config.png);
    vertical-align: middle;
}

.system .system-logout i.icon-sys-logout {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/icon-system-logout.png);
    vertical-align: middle;
}


/* 主体 */

.wrapper {
    padding-top: 70px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #ebedf1;
}

.wrapper .sidebar {
    width: 100px;
    height: 100%;
    background-color: #474e7a;
}

.sidebar .sidebar-collapse-btn {
    width: 100%;
    height: 30px;
    background: #4d547f url(../img/icon-sidebar-collapse.png) center center no-repeat;
    cursor: pointer;
}

.menu-wrapper .menu-item {
    width: 100%;
    display: inline-block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    box-sizing: border-box;
    color: #b1b7d7;
    cursor: pointer;
    border-right: 3px solid #4d547f;
}

.menu-wrapper .menu-item:hover,
.menu-wrapper .menu-item.active {
    background-color: #3a4267;
    border-right: 3px solid #34c1e4;
    color: #fff;
}


/* 导航折叠 */

.wrapper.sidebar-collapse .sidebar {
    width: 50px;
}

.wrapper.sidebar-collapse .content-wrapper {
    left: 50px;
}

.wrapper.sidebar-collapse .sidebar .menu-item-text {
    display: none;
}


/* 内容页面 */

.content-wrapper {
    position: absolute;
    top: 70px;
    left: 100px;
    right: 0;
    bottom: 0;
    padding: 10px 10px 10px 10px;
    background-color: #ebedf1;
    box-sizing: border-box;
}

.content-wrapper .content {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* 表单样式重置 */

.list-form-view .row {
    margin: 0;
}

.list-form-view .vast-form-item {
    margin-bottom: 18px;
}

.list-form-view .vast-form-item .vast-form-item-label {
    line-height: 30px;
}

.vast-form-item .vast-form-item-label label {
    margin: 0;
}

.list-form-view .vast-form-item-wrapper {
    line-height: 30px;
}


/* 登录页样式 */

.login-wrap {
    width: 100%;
    height: 100%;
    background: #474e7a url(../img/login-bg.png) no-repeat center top;
}

@media screen and (min-width: 1367px) {
    .login-wrap  {
        background: #474e7a url(../img/login-bg-big.jpg) no-repeat center top;
    }
}

.login-panel {
    width: 350px;
    height: 340px;
    position: absolute;
    top: 18%;
    /* margin-top: -170px; */
    left: 50%;
    margin-left: -175px;
    background: #3d4d73;
    border-radius: 10px;
    text-align: center;
}

.platform-logo {
    height: 105px;
    background: url(../img/login-logo-whole.png) no-repeat center center;
    position: relative;
    top: -25px;
    width: 100%;
}

.login-panel input,
.login-panel button {
    padding-left: 50px;
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.login-panel button {
    margin-top: 15px;
    background: #01d6ec;
    color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    letter-spacing: 5px;
}

.login-panel .login-validate {
    width: 160px;
    margin-right: 10px;
}

.login-user {
    background: #fff url(../img/icon-login-user.png) no-repeat 18px 12px;
}

.login-password {
    background: #fff url(../img/icon-login-password.png) no-repeat 18px 12px;
}

.login-validate {
    background: #fff url(../img/icon-login-verification.png) no-repeat 18px 12px;
}

.login-panel img {
    width: 60px;
    height: 30px;
    margin-right: 10px;
}

.action-next-group,
.action-next-group:hover,
.action-next-group:focus,
.action-next-group:visited {
    color: #fff;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 80px;
    text-align: center;
    background: #1c1d2c;
    color: #fff;
}

/* 弹窗样式重置 */

.dialog-header[i="header"] {
    background-color: #474e7a;
    color: #fff;
    text-align: center;
}

.dialog-header .dialog-close {
    color: #fff;
    text-shadow: 0 1px 0 #FFF;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

.dialog-header .dialog-close:hover,
.dialog-header .dialog-close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.dialog-footer[i="footer"] {
    padding: 0;
    height: 55px;
    text-align: center;
    background-color: #f9f9f9;
}

.dialog-footer .dialog-button {
    float: none;
}

.dialog-footer[i="footer"] button {
    padding: 4px 25px;
}

.dialog-footer[i="footer"] button.dialog-autofocus {
    color: #ffffff;
    background-color: #34c1e4;
    border-color: #3cbbda;
}

.dialog-footer[i="footer"] button.dialog-autofocus:hover,
.dialog-footer[i="footer"] button.dialog-autofocus:focus,
.dialog-footer[i="footer"] button.dialog-autofocus:active {
    color: #ffffff;
    background-color: #31afce;
    border-color: #31afce;
}
